.left-image {
  position: absolute;
  top: 0;
  right: 50%;
  transition: .3s;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}
.left-image:hover {
  right:20%;
  z-index: 2;
}
.left-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.right-image {
  position: absolute;
  top: 0;
  left: 50%;
  transition: .3s;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.right-image:hover {
  left: 20%;
  z-index: 2;
}
.right-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
